@model PhotoMarathon.Data.Entities.Cms.Page
@{
    ViewData["Title"] = "About";
}
<div>
    <h3 class="text-center image-title ubuntu-font">
       @Model.Title
    </h3>
    <img src="~/images/about/timisoara libertatiiedited32.jpg" class="img-responsive" />
</div>
<div class="contentDiv">
    <a href="#description"><i class="fa fa-chevron-down arrow" aria-hidden="true"></i></a>
</div>
<main id="content" role="main">
    <div class="container">
        <div class="inner">
            <a name="description"></a>
            <div class="margin-5"></div>
            <div class="row">
               @Html.Raw(Model.Sections.FirstOrDefault(p=>p.Slug == "descriere-1").Content)
                <div class="margin-4"></div>
            </div>

            <div class="row owl-services owl-red-dots text-center">
                <div class="col-md-offset-1 col-md-4">
                    <i class="fa fa-camera-retro font-size-82" aria-hidden="true"></i>
                    <div class="margin-2"></div>
                    @{ var tabs = Model.Sections.FirstOrDefault(p => p.Slug == "descriere-tabs").Articles;}
                    <h6>@tabs.FirstOrDefault(p => p.Slug == "tab-1").Title</h6>
                    <div class="owl-dots position-relative">
                        <div class="owl-dot active">
                            <span class="red-line"></span>
                        </div>
                    </div>
                    <div class="margin-1"></div>
                    @*<p class="small">*@
                        @Html.Raw(tabs.FirstOrDefault(p=>p.Slug == "tab-1").Content)
                    @*</p>*@
                    <div class="margin-3"></div>
                </div>
                @*<div class="col-md-4">
                    <i class="fa fa-file-image-o font-size-82" aria-hidden="true"></i>
                    <div class="margin-2"></div>
                    <h6>@tabs.FirstOrDefault(p => p.Slug == "tab-2").Title</h6>
                    <div class="owl-dots position-relative">
                        <div class="owl-dot active">
                            <span class="red-line"></span>
                        </div>
                    </div>
                    <div class="margin-1"></div>
                    <p class="small">@Html.Raw(tabs.FirstOrDefault(p => p.Slug == "tab-2").Content)</p>
                    <div class="margin-3"></div>
                </div>*@
                <div class="col-md-offset-2 col-md-4">
                    <i class="fa fa-picture-o font-size-82" aria-hidden="true"></i>
                    <div class="margin-2"></div>
                    <h6>@tabs.FirstOrDefault(p => p.Slug == "tab-3").Title</h6>
                    <div class="owl-dots position-relative">
                        <div class="owl-dot active">
                            <span class="red-line"></span>
                        </div>
                    </div>
                    <div class="margin-1"></div>
                    <p class="small">@Html.Raw(tabs.FirstOrDefault(p => p.Slug == "tab-3").Content)</p>
                    <div class="margin-3"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.Raw(Model.Sections.FirstOrDefault(p=>p.Slug == "descriere-2").Content)
                </p>
                <p class="text-center"><a asp-action="Register" asp-controller="Account">Te-am convins? Înscrie-te acum la PHOTO MARATHON!</a></p>
            </div>
        </div>
        <div class="margin-4"></div>
    </div>
</main>

@section scripts {
    <environment names="Development">
        <script src="~/js/About/page.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/About/page.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(1);
            About.InitCarousel();
            About.InitArrow();
        })
    </script>
}
