@model PhotoMarathon.Data.Entities.Cms.Page
@{
    ViewData["Title"] = "Termeni si conditii";
}

<main id="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 class="single-title no-bottom ubuntu-font">@Model.Title</h2>
                @{var registration = Model.Sections.FirstOrDefault(p => p.Slug == "inscriere");}
                <p class="post-meta"><span>@registration.Title</span></p>
                @Html.Raw(registration.Content)
                <div class="margin-2"></div>
                <div class="margin-2"></div>

                @{var conditions = Model.Sections.FirstOrDefault(p => p.Slug == "conditii");}
                <p class="post-meta"><span>@conditions.Title</span></p>
                @Html.Raw(conditions.Content)
                <div class="margin-2"></div>

                @{var voteing = Model.Sections.FirstOrDefault(p => p.Slug == "jurizare");}
                <p class="post-meta"><span>@voteing.Title</span></p>
                @Html.Raw(voteing.Content)
                <p class="text-center"><a href="/Account/Register">Înscrie-te acum!</a></p>
            </div>
        </div>
    </div>
</main>