<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic%7CRoboto:400,700%7CDroid+Serif">
        <link rel="stylesheet" type="text/css" href="~/css/LayoutAdmin/admin-layout.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/LayoutAdmin/admin-custom.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic%7CRoboto:400,700%7CDroid+Serif">
        <link rel="stylesheet" type="text/css" href="~/css/LayoutAdmin/admin-layout.min.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/LayoutAdmin/admin-custom.css" />
    </environment>
    <script type="text/javascript">
        localStorage.setItem("siteRoot", "@Url.Action("", null, null, "http")")
        //Error or success messages
        @if (TempData["Message"] != null)
        {
            <text>var ServerMessage = '@TempData["Message"]';</text>
            <text>var ServerMessageType = '@TempData["ServerMessageType"]';</text>
        }
    </script>
</head>
<body class="skin-black">
    <div class="wrapper">
        @Html.Partial("LayoutAdmin/_HeaderAdmin")
        @Html.Partial("LayoutAdmin/_LeftSideMenu")
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        @Html.Partial("LayoutAdmin/_FooterAdmin")
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
        <script src="~/js/Layout/jquery.noty.packaged.js" asp-append-version="true"></script>
        <script src="~/js/LayoutAdmin/admin-layout.js" asp-append-version="true"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
