@model PhotoMarathon.Data.Entities.Cms.Page
@{
    ViewData["Title"] = "Expoziții";
}

<main id="content" role="main">
    <div class="container">
        <div class="col-md-12">
            <div class="margin-3"></div>
            <div class="inner">
                <div>
                    <h3 class="ubuntu-font">@Model.Title</h3>
                    <p>@Html.Raw(Model.Sections.FirstOrDefault(p=>p.Slug == "descriere").Content)</p>
                </div>

                <div class="tab-container">
                    <ul class="tabs clearfix">
                        <li class="active team-member col-xs-3" style="margin:0 !important;">
                            <a href="#tab-1" class="team-photo">
                                <img src="~/images/expo/2017/SorinOnisor.jpg" width="640" height="640" alt="">
                                @{
                                    var tab1 = Model.Sections.FirstOrDefault(p => p.Slug == "taburi").Articles.FirstOrDefault(p => p.Slug == "tab-1");
                                }
                                <span class="info"><span class="text"><span class="name">@tab1.Title</span><span class="description">@tab1.Subtitle</span></span></span>
                            </a>
                        </li>
                        <li class="team-member col-xs-3" style="margin:0 !important;">
                            <a href="#tab-2" class="team-photo">
                                <img src="~/images/expo/2017/CosticaAcsinte.jpg" width="640" height="640" alt="">
                                @{
                                    var tab2 = Model.Sections.FirstOrDefault(p => p.Slug == "taburi").Articles.FirstOrDefault(p => p.Slug == "tab-2");
                                }
                                <span class="info"><span class="text"><span class="name">@tab2.Title</span><span class="description">@tab2.Subtitle</span></span></span>
                            </a>
                        </li>
                        <li class="team-member col-xs-3" style="margin:0 !important;">
                            <a href="#tab-3" class="team-photo">
                                <img src="~/images/expo/2017/VladPetri.jpg" width="640" height="640" alt="">
                                @{
                                    var tab3 = Model.Sections.FirstOrDefault(p => p.Slug == "taburi").Articles.FirstOrDefault(p => p.Slug == "tab-3");
                                }
                                <span class="info"><span class="text"><span class="name">@tab3.Title</span><span class="description">@tab3.Subtitle</span></span></span>
                            </a>
                        </li>
                        <li class="team-member col-xs-3" style="margin:0 !important;">
                            <a href="#tab-4" class="team-photo">
                                <img src="~/images/expo/2017/OliverMerceJuju.jpg" width="640" height="640" alt="">
                                @{
                                    var tab4 = Model.Sections.FirstOrDefault(p => p.Slug == "taburi").Articles.FirstOrDefault(p => p.Slug == "tab-4");
                                }
                                <span class="info"><span class="text"><span class="name">@tab4.Title</span><span class="description">@tab4.Subtitle</span></span></span>
                            </a>
                        </li>
                    </ul>
                    <div id="tab-1" class="tab_content" style="display:block">
                       @Html.Raw(tab1.Content)
                    </div>
                    <div id="tab-2" class="tab_content" style="display:none">
                        @Html.Raw(tab2.Content)
                    </div>
                    <div id="tab-3" class="tab_content" style="display:none">
                        @Html.Raw(tab3.Content)
                    </div>
                    <div id="tab-4" class="tab_content" style="display:none">
                        @Html.Raw(tab4.Content)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="margin-3"></div>
        </div>
    </div>
</main>
@section scripts{
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(2);
        })
    </script>
}